scrapper-local-host:
  base-url: http://localhost:8080

app:
  telegram-token: ${TELEGRAM_BOT_TOKEN}

spring:
  application:
    name: bot
  jackson:
    time-zone: UTC

server:
  port: 8090

logging:
  config: classpath:log4j2-plain.xml

springdoc:
  swagger-ui:
    path: /swagger-ui
